@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Quicksand:wght@300..700&display=swap');

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0 0 0;
}

.container > *{
  min-width: 20rem;
  max-width: 40rem;
}

img{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  max-height: 25rem;
  margin: 1rem;
}

.details{
  background: linear-gradient(to top,rgba(0, 0, 0, 0.112)1%,black 90%);
  border-radius: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex:1 0;
  padding: 2rem;
  /* color: rgba(245, 245, 245, 0.279); */
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.header{
  display: flex;
  justify-content: space-between;
}

.name{
  font-family: "Bungee Tint", sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  background: #3e3e3e3a;
  font-weight: bold;
  font-size: xx-large;
  font-style:normal;
}

.favorite{
  color: #e72929;
  font-size: 2.5rem;
}

.favorite.not{
  color: grey;
}

.origins{
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.origins span{
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 2rem;
  background-color: rgba(240, 248, 255, 0);
}

.tags{
  display: flex;
  flex-wrap: wrap;
}

.tags a{
  background-color: #f0f0f02c;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: #f0f0f0;
}

.cook-time{
  margin-top: 1rem;
}

.cook-time span{
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
  color: wheat;
}

.price{
  font-size: 2rem;
  margin: 2rem 2rem 2rem 0;
  color: green;
}

.price::before{
  content: "Price: ";
  color: darkgrey;
}

button{
  color: white;
  background: #e72929;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}

button:hover{
  opacity: 0.9;
  cursor: pointer;
}
