<header>
  <div class="container">
    <a routerLink="/" class="logo"></a>
    <nav>
      <ul class="navbar">
        <li *ngIf="!user.token">
          <a routerLink="/login" >Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard" *ngIf="user.token">{{user.name|uppercase}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="" (click)="logout()">Logout</a> 
 
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            
            Cart <span> {{totalcart}} </span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>