<div class="container" @slideInFromLeft>
  <div class="details">
    <h1>Login</h1>
    <form [formGroup]="loginform" (ngSubmit)="Submit()" >
      
      <div class="input-container">
        
        <label for="Email">Email</label>
        <div>
          <input type="email"  id="Email" formControlName="email" 
          placeholder="Enter Your Mail">
        </div>
        <div class="errors" *ngIf="fc.email.errors && isSubmitted">
          <div *ngIf="fc.email.errors.required">* Email is required</div>
          <div *ngIf="fc.email.errors.email">* Email is incorrect</div>
        </div>
        <label for="Password">Password</label>
        <div>
          <input type="password"  id="Password" formControlName="password" 
          placeholder="Enter Your Pass">
        </div>

        <div class="errors" *ngIf="fc.password.errors && isSubmitted">
        <div *ngIf="fc.password.errors.required">* Pass is required</div>
        <div *ngIf="fc.password.errors.pattern">
          * Password must be at least 8 characters long and include at least one letter, one number, and one special character
        </div>
      </div>
      
        <div class="btn">
          <button type="submit">Login</button>
        </div>
      </div>
    </form>
    <div class="register">
      <div>Don't have account ?</div>
     <a routerLink="/register" [queryParams]="{returnUrl:returnUrl}">Register</a>
  </div>
  
</div>