.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;

  
  }
   h1{
    color: white;
    text-align: center;
  } 
  input{
    padding: 0.6rem;
    margin: 0.5rem 0.4rem;
    color: white;
    background: transparent;
  }
  input::placeholder{
    color: white;
  }
  .input-container{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.112) 1%, black 90%);
    padding:2rem 2rem;
    border-radius: 2rem;

  }
  label{
    font-size: large;
    font-weight: 600;
  }

  .details{
    color: whitesmoke;
    width: 28rem;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .errors{
    color: rgb(255, 27, 27);
    font-weight: 400;
    margin: 0 1.3rem 1rem 1.3rem;

  }
  
  .register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0 3rem 0;
    padding: 0.5rem 0 ;
    border-radius: 1rem;
    font-size: 20px;
    background: #00000031;
    

  }
  .register a{
    color: rgba(255, 255, 0, 0.84);
    font-weight: 700;
    text-decoration: underline;
    margin-left: 0.5rem;
    transition: transform opacity ;
  }
  .register a:hover{
    transform: scale(1.1);
    opacity: 1;
  }
  button{
    padding:1rem 1.5rem;
    border-style: none;
    background: #000000;
    opacity: 0.8;
    color: whitesmoke;
    border-radius: 1rem;
    font-size: large;
    margin: 1rem 0.7rem;
    cursor: pointer;
    transition: opacity transform;
  }
 
  button:hover{
    opacity: 1;
    transform: scale(1.1);
  }
  .register a,
  button{
    transition-timing-function: ease-in;
    transition-duration: 0.1s;
  }