.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* margin: .5rem 0; */

  
  }
   h1{
    color: white;
    text-align: center;
  } 
  input{
    font-size: 16px;
    display: block;
    padding: 0.6rem;
    margin: 0.7rem 0.4rem;
    color: white;
    background: transparent;
  }
  input::placeholder{
    color: rgba(255, 255, 255, 0.523);
  }
  .input-container{
    background: linear-gradient(to top,rgba(0, 0, 0, 0.112)1%,black 90%);
    padding:3rem 2rem;
    border-radius: 2rem;

  }
  label{
    font-size: large;
  }

  .details{
    color: whitesmoke;
    width: 28rem;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .errors{
    color: rgb(255, 27, 27);
    font-weight: 500;
    /* padding: 0.5rem 0.9rem; */
    margin: 0 1.3rem 1rem 1.3rem;
  }
  
  .register{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    padding:1rem 1.5rem;
    border-style: none;
    background: #000000;
    opacity: 0.8;
    color: whitesmoke;
    border-radius: 1rem;
    font-size: large;
    margin: 1rem 0.7rem;
    cursor: pointer;
    transition: opacity transform;
  }

  .login{
    color: wheat;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0 3rem 0;
    padding: .8rem 0 ;
    border-radius: 1rem;
    font-size: 24px;
    background: #00000031;
    

  }
  .login a{
    color: yellow;
    opacity: 60%;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 0.5rem;
    transition: color,transform,opacity;
  }
  .login a:hover{
    transform: scale(1.1);
    opacity: 100%;
  }
 
  button:hover{
    opacity: 1;
    transform: scale(1.1);
  }
  .login a,
  button{
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
  }